.button {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: $spacer $spacer-4;
    font-size: map-get($font-sizes, 'medium');
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    &:hover {
        text-decoration: none;
    }
    @each $color-name, $color in $colors {
        &--#{$color-name} {
            background-color: $color;
            border-color: $color;
            &:hover {
                background-color: lighten($color, 10%);
                border-color: lighten($color, 10%);
            }
            @if $color-name == 'dark' or $color-name == 'primary' {
                color: white;
            }
            @else {
                color: black;
            }
        }
        &--outline-#{$color-name} {
            background-color: transparent;
            border-color: $color;
            color: $color;
            &:hover {
                background-color: $color;
                border-color: $color;
                @if $color-name == 'dark' or $color-name == 'primary' {
                    color: white;
                }
                @else {
                    color: black;
                }
            }
        }
    }
    &--link {
        background-color: transparent;
        border-color: transparent;
        color: $gray;
        font-weight: 600;
        text-transform: none;
        letter-spacing: 0;
        &:hover {            
            color: $primary;
        }
    }
    &--sm {
        padding: $spacer-2 $spacer;
        font-size: map-get($font-sizes, 'small');
    }
    &--lg {
        padding: $spacer-4 $spacer-5;
        font-size: map-get($font-sizes, 'large');
    }
}