.card {
    height: 100%;

    &__body {
        padding: $spacer;
    }

    &__promo {
        padding: $spacer-4;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        &--right {
            text-align: right;
            align-items: flex-end;
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: map-get($font-sizes, 'xlarge');
        margin-bottom: $spacer;
        &:last-child {
            margin-bottom: 0;
        }
    }

    // Card colors
    @each $color-name,
    $color in $colors {
        &--#{$color-name} {
            background: $color;

            // Card font colors
            @if $color-name=='dark' {
                color: white;
            }

            @else if $color-name=='primary' {
                a {
                    color: white;
                }
            }

            @else {
                color: black;
            }
        }
    }
}