.align-items-center {
    align-items: center;
}
.flex {    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &--x-center {
        align-items: center;
        height: 100%;
    }
    &--y-center {
        justify-content: center;
        width: 100%;
    }
}