.form {
    &__element {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: map-get($font-sizes, 'medium');
        font-weight: 300;
        line-height: 1.5;
        color: $dark;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid lighten($gray, 30%);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
        &.error {
            background-color: #fcf6f7;
            border-color: #bb5465;
            margin-bottom: $spacer-2;
        }
    }
}


.form__element-wrapper {
    margin-bottom: 1rem;
}

.form-flex {
    .form__element-wrapper {
        width: auto;
        display: inline-flex;
        align-items: center;
    }
}

select.form__element:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}