.container {
    margin: 0 auto;
    width: 100%;
    padding-left: $spacer;
    padding-right: $spacer;
    @media (min-width: map-get($screen-sizes, 'medium' )) {
        max-width: 800px;        
    }
    @media (min-width: map-get($screen-sizes, 'large' )) {
        max-width: 980px; 
    }
    @media (min-width: map-get($screen-sizes, 'xlarge' )) {
        max-width: 1100px;
    }
    &--wide {
        max-width: 1300px;
    }
    &--full-width {
        max-width: none;
        padding-left: $spacer;
        padding-right: $spacer;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    &__item {
        @for $i from 1 through 12 {
            &--#{$i} {
                grid-column: span #{$i};
            }
        }        
        @for $i from 1 through 4 {
            &--r#{$i} {
                grid-row: span #{$i};
            }
        }
        @each $screen-size-name, $screen-size in $screen-sizes {
            @media (min-width: $screen-size) {
                &--#{$screen-size-name} {
                    background-color: black;
                    @for $i from 1 through 12 {
                        &-#{$i} {
                            grid-column: span #{$i};
                        }
                    }        
                    @for $i from 1 through 4 {
                        &-r#{$i} {
                            grid-row: span #{$i};
                        }
                    }
                }        
            }
        }
    }
    &--no-gutter {
        grid-gap: 0;
    }
}
.section {
    padding: $spacer-5 0;
    &--no-padding {
        padding: 0;
    }
}