.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &__link {
        display: block;    
        padding: $spacer-2 $spacer;
    }
}
.nav--tabs {
    .nav {
        &__link {
            background-color: $light;
            color: $dark;
            border: none;
            &:focus {
                outline: 0;
            }
            &--active {
                background-color: $dark;
                color: white;
            }
        }
    }
}