*, ::after, ::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $dark;
  font-weight: 500;
  letter-spacing: 0.03em;
}

h1 {
  font-size: map-get($font-sizes, 'xxlarge');
}
h2 {
  font-size: map-get($font-sizes, 'large');
  margin-bottom: $spacer-4;
}
h3 {
  font-size: map-get($font-sizes, 'medium');
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, input {
  overflow: visible;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-position: inside;
}
li {
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}