$spacer:   15px;
$spacer-1: $spacer / 4;
$spacer-2: $spacer / 2;
$spacer-3: $spacer;
$spacer-4: $spacer * 2;
$spacer-5: $spacer * 4;


$primary: #00c8c8;
$secondary: #00c8c8;
$success: green;
$warning: orange;
$danger: red;
$light: #f8f8f8;
$gray: #999999;
$dark: #333333;
$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'gray': $gray,
    'dark': $dark
);

$font-sizes: (
    'xxlarge': 3rem,
    'xlarge': 1.7rem,
    'large': 1.2rem,
    'medium': 1.05rem,
    'small': 0.9rem,
    'xsmall': 0.8rem
);

$screen-sizes: (
    'small': 480px,
    'medium': 768px,
    'large': 1024px,
    'xlarge': 1300px
);

