<template>
  <div class="brand">
    <page-banner title="The Brand" introduction="Company slogan goes here" image="../assets/images/page-banner.jpg"></page-banner>
    <section class="section">
      <div class="container grid">
        <div class="grid__item grid__item--12 grid__item--large-6">
          <img src="../assets/images/clothing-rack.jpg">
          <img src="../assets/images/tailor.jpg">
          <h2>Our Values, Vision &amp; Strategy</h2>
          <p class="lead">Sed in tortor semper lectus sagittis accumsan</p>
          <p>Maecenas blandit luctus mauris, molestie sagittis ex aliquam ut. Nam vel condimentum dui. Sed turpis
            ipsum, dapibus at dolor et, aliquam laoreet ligula. Phasellus sit amet sem laoreet, malesuada lorem
            euismod, vulputate lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Aliquam nec blandit lacus. Curabitur bibendum massa urna, in semper est condimentum vel.</p>
        </div>
        <div class="grid__item grid__item--12 grid__item--large-6">
          <h2>Hand Designed Clothing</h2>
          <p class="lead">Cras pulvinar elit viverra lorem euismod condimentum</p>
          <p>Vestibulum tempor enim nec massa vestibulum tempor. Duis in sem vitae lectus bibendum
            porttitor tempor quis libero. Morbi sit amet porttitor enim, at tempus sapien. Morbi dui tortor, placerat a
            libero nec, vehicula bibendum risus. Etiam ut ante sapien. Aenean vel lectus vitae ex lobortis volutpat non
            quis quam. Sed bibendum, ligula sit amet tincidunt pretium, odio lacus posuere nibh, scelerisque vulputate
            eros justo ut augue.</p>
          <img src="../assets/images/ethical-cotton.jpg">
          <h2>Ethical Trading</h2>
          <p class="lead">Etiam quis risus urna.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et ante a lectus blandit
            imperdiet. Phasellus augue ex, ornare sit amet luctus id, posuere in dui. Etiam ex lorem, ornare in nunc a,
            porta lacinia libero.</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import PageBanner from "@/components/PageBanner";
  export default {
    name: 'brand',
    components: {
      PageBanner
    }
  }
</script>

<style>

</style>
