<template>
  <div class="home">
    <section class="section--no-padding">
      <div class="slider">
        <div id="slide-1" class="slider__image">
          <div class="container container--wide flex">
            <router-link to="/products/men" class="button button--outline-dark ml-auto">Shop men's collection</router-link>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container container--wide">
        <div class="tabs">
          <div class="flex">
            <ul class="tabs__navigation">
              <li class="tabs__link">Popular</li>
              <li class="tabs__link">New arrivals</li>
              <li class="tabs__link">Best sellers</li>
              <li class="tabs__link">Special offers</li>
              <li class="tabs__link">Coming soon</li>
            </ul>
          </div>
          <div class="grid">
            <product-thumbnail
              v-for="product in products"
              :gridClasses="product.gridClasses"
              :title="product.title"
              :currentPrice="product.currentPrice"
              :originalPrice="product.originalPrice"
              :shortDescription="product.shortDescription"
              :key="product.id"/>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="grid">
        <div class="grid__item grid__item--12 grid__item--large-4">
          <div class="flex card card--light promo-lookbook">
            <div class="promo-lookbook__image-wrapper">
              <img src="../assets/images/lookbook-men.png" class="promo-lookbook__image">
            </div>
            <div class="card__promo card__promo--right">
              <h2 class="card__title">Men's <br>lookbook</h2>
              <p class="card__text">Ut leo sem, fringilla quis pellentesque ac, consequat malesuada quam. Proin facilisis pellentesque
                efficitur. Praesent sit amet laoreet odio, a porttitor nisl.</p>
              <router-link to="/lookbook/men" class="button button--outline-dark">View now</router-link>
            </div>
          </div>
        </div>
        <div class="grid__item grid__item--12 grid__item--large-4">
          <div class="flex card card--light promo-lookbook">
            <div class="promo-lookbook__image-wrapper">
              <img src="../assets/images/lookbook-women.png" class="promo-lookbook__image">
            </div>
            <div class="card__promo card__promo--right">
              <h2 class="card__title">Women's <br>lookbook</h2>
              <p class="card__text">Ut leo sem, fringilla quis pellentesque ac, consequat malesuada quam.
                Proin facilisis pellentesque
                efficitur. Praesent sit amet laoreet odio, a porttitor nisl.</p>
              <router-link to="/lookbook/men" class="button button--outline-dark">View now</router-link>
            </div>
          </div>
        </div>
        <div class="grid__item grid__item--12 grid__item--large-4">
          <div class="flex card card--light promo-lookbook">
            <div class="promo-lookbook__image-wrapper">
              <img src="../assets/images/lookbook-you.png" class="promo-lookbook__image">
            </div>
            <div class="card__promo card__promo--right">
              <h2 class="card__title">Your <br>lookbook</h2>
              <p class="card__text">Ut leo sem, fringilla quis pellentesque ac, consequat malesuada quam.
                Proin facilisis pellentesque efficitur. Praesent sit amet laoreet odio, a porttitor nisl.</p>
              <router-link to="/lookbook/your-lookbook" class="button button--outline-dark">View now</router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import ProductThumbnail from "@/components/ProductThumbnail";
  export default {
    name: 'home',
    components: {
      ProductThumbnail
    },
    data: () => ({
      products: [
        {
          id: 0,
          gridClasses: 'grid__item--12 grid__item--large-3',
          title: 'Womens burnt orange casual tee',
          currentPrice: 29.99,
          originalPrice: 39.99,
          shortDescription: 'Lorem ipsum dolor sit amet'
        },
        {
          id: 1,
          gridClasses: 'grid__item--12 grid__item--large-3',
          title: 'Womens burnt orange casual tee',
          currentPrice: 75,
          shortDescription: 'Lorem ipsum dolor sit amet'
        },
        {
          id: 2,
          gridClasses: 'grid__item--12 grid__item--large-6 grid__item--large-r2',
          title: 'Womens burnt orange casual tee',
          currentPrice: 89.99,
          originalPrice: 129.99,
          shortDescription: 'Lorem ipsum dolor sit amet'
        },
        {
          id: 3,
          gridClasses: 'grid__item--12 grid__item--large-6 grid__item--large-r2',
          title: 'Womens burnt orange casual tee',
          currentPrice: 99.99,
          originalPrice: 159.99,
          shortDescription: 'Lorem ipsum dolor sit amet'
        },
        {
          id: 4,
          gridClasses: 'grid__item--12 grid__item--large-3',
          title: 'Womens burnt orange casual tee',
          currentPrice: 69.99,
          shortDescription: 'Lorem ipsum dolor sit amet'
        },
        {
          id: 5,
          gridClasses: 'grid__item--12 grid__item--large-3',
          title: 'Womens burnt orange casual tee',
          currentPrice: 95,
          originalPrice: 129.99,
          shortDescription: 'Lorem ipsum dolor sit amet'
        }
      ]
    }),
  }
</script>

<style scoped lang="scss">
  @import '../assets/scss/variables';
  .promo-lookbook {
    &__image-wrapper {
      width: 220px;
      flex-shrink: 0;
    }

    &__image {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .tabs {
    &__navigation {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      margin-bottom: $spacer-4;
      flex-flow: wrap;
    }    
    &__link {
      margin-right: $spacer-4;
      text-transform: uppercase;
      color: $gray;
      font-weight: bold;
      letter-spacing: 0.05em;
      font-size: map-get($font-sizes, 'medium')
    }
  }
  .slider {
    &__image {
      padding: $spacer-5;
      display: flex;
      height: 100vh;
      align-items: flex-end;
      background-image: url('../assets/images/slide-men.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
</style>