<template>
  <div class="product-single">
    <page-banner title="Product view" introduction="Mens - Casual - Hoodies and Sweatshirts - Ave Classic Sweatshirt"
      image="../assets/images/page-banner.jpg"></page-banner>
    <section class="section">
      <div class="container grid">
        <div class="grid__item grid__item--12 grid__item--large-6">
          <div class="product-gallery">
            <div class="product-gallery__image-wrapper">
            </div>
          </div>
        </div>
        <div class="grid__item grid__item--12 grid__item--large-6">
          <div class="product-intro">
            <p class="product-intro__title">Ave Classic Sweatshirt</p>
            <customer-engage></customer-engage>
            <div class="product-intro__price"><span class="product-intro__price--before">&pound;107</span> &pound;89.99</div>
            <ul class="product-metadata">
              <li class="product-metadata__item"><span class="product-metadata__item--property">Availability:</span> In
                stock</li>
              <li class="product-metadata__item"><span class="product-metadata__item--property">Product code:</span>
                #499577</li>
              <li class="product-metadata__item"><span class="product-metadata__item--property">Tags:</span> Classic,
                casual, v-neck, loose</li>
            </ul>
            <div class="product-intro__text">
              <p>Lorem ipsum dolor site amet, adipicing elit.</p>
              <ul>
                <li>Elasticatid cuffs</li>
                <li>Casual fit</li>
                <li>100% cotton</li>
                <li>Free shipping with 4 days delivery</li>
              </ul>
            </div>
            <form class="form">
              <div class="product-options">
                <div class="form__element-wrapper product-options__item-wrapper">
                  <label for="color">Colour</label>
                  <select class="form__element product-options__item" id="color" name="color">
                    <option disabled>Select colour</option>
                    <option selected>Black</option>
                    <option>White</option>
                    <option>Grey</option>
                  </select>
                </div>
                <div class="form__element-wrapper product-options__item-wrapper">
                  <label for="size">Size</label>
                  <select class="form__element product-options__item" id="size" name="size">
                    <option disabled selected>Select size</option>
                    <option>S</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>
                </div>
                <div class="form__element-wrapper product-options__item-wrapper">
                  <label for="quantity">Qty</label>
                  <input class="form__element product-options__item" id="quantity" name="quantity" type="number" value="1"
                    min="1" max="20">
                </div>
              </div>
              <div class="product-actions">
                <div class="form__element-wrapper flex">
                  <button class="button button--primary product-actions__item">
                    <font-awesome-icon :icon="['fas', 'shopping-cart']" /> Add to cart</button>
                  <button class="button button--outline-dark product-actions__item">
                    <font-awesome-icon :icon="['fas', 'heart']" /> Add to lookbook</button>
                </div>
              </div>
            </form>
            <button class="button button--link">
              <font-awesome-icon :icon="['fas', 'compress-arrows-alt']" />Add to compare</button>
          </div>
        </div>
        <div class="grid__item grid__item--12">
          <tabs :tabs="tabs" :currentTab="currentTab" @onClick="handleClick" />
          <div class="content">
            <div v-if="currentTab === 'description'">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
            <div v-if="currentTab === 'video'">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
            <div v-if="currentTab === 'specifications'">
              Sed ut perspiciatis unde omnis iste natus error sit
              voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
              aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
              quia dolor sit amet, consectetur, adipisci velit, sed quia non
              numquam eius modi tempora incidunt ut labore
              et dolore magnam aliquam quaerat voluptatem.
            </div>
            <div v-if="currentTab === 'delivery'">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
            <div v-if="currentTab === 'reviews'">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
              occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
              mollitia animi, id est laborum et dolorum fuga.
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import PageBanner from "@/components/PageBanner";
  import CustomerEngage from "@/components/CustomerEngage";
  import Tabs from '@/components/Tabs.vue';

  const TABS = [{
    title: 'Description',
    value: 'description',
  }, {
    title: 'Video',
    value: 'video',
  }, {
    title: 'Size and specs',
    value: 'specifications',
  }, {
    title: 'Delivery and returns',
    value: 'delivery',
  }, {
    title: 'Reviews',
    value: 'reviews',
  }];

  export default {
    name: 'brand',
    components: {
      PageBanner,
      CustomerEngage,
      Tabs
    },
    data: () => ({
      tabs: TABS,
      currentTab: 'description',
    }),
    methods: {
      handleClick(newTab) {
        this.currentTab = newTab;
      },
    },
  }
</script>

<style scoped lang="scss">
  @import '../assets/scss/variables';

  .product-gallery {
    &__image-wrapper {
      background-image: url('../assets/images/men-ave-classic-sweatshirt.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: 50vw;
      overflow: hidden;
    }
  }

  .product-intro {
    &__title {
      margin-bottom: $spacer-4;
      font-size: map-get($font-sizes, 'large');
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }

    &__price {
      margin-bottom: $spacer-4;
      font-size: map-get($font-sizes, 'xlarge');
      color: $gray;
      font-weight: 400;

      &--before {
        text-decoration: line-through;
      }
    }

    &__text {
      font-weight: 300;
      margin-bottom: $spacer-4;
    }
  }

  .product-metadata {
    margin-bottom: $spacer-4;
    padding: 0;
    list-style-type: none;

    &__item {
      font-weight: 300;
      padding: 0;

      &--property {
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

  .product-options {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $spacer;

    &__item-wrapper {
      margin-right: $spacer;
    }
  }

  .product-actions {
    &__item {
      margin-right: $spacer;
    }
  }
</style>