<template>
  <div class="sign-in">
    <page-banner :title="pageBanner.title" :introduction="pageBanner.introduction"></page-banner>
    <section class="section">
      <div class="container grid">
        <div class="grid__item grid__item--12 grid__item--large-6">
          <h2>{{ signInHeader }}</h2>
          <sign-in-form/>
        </div>
        <div class="grid__item grid__item--12 grid__item--large-6">
          <h2>{{ registerHeader }}</h2>
          <register-form/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import PageBanner from "@/components/PageBanner";
  import SignInForm from "@/components/SignInForm";
  import RegisterForm from "@/components/RegisterForm";
  export default {
    name: 'home',
    components: {
      PageBanner,
      SignInForm,
      RegisterForm
    },
    data: function () {
      return {
        pageBanner: {
          title: 'Welcome to Ave',
          introduction: 'Sign in or register'
        },
        signInHeader: 'Sign in',
        registerHeader: 'Register'        
      }
    }
  }
</script>