<template>
    <div class="auth-menu">
        <template v-if="isAuthorized">

        </template>
        <template else>
            <router-link to="/sign-in" class="auth-menu__link">Register</router-link>
            <router-link to="/sign-in" class="auth-menu__link">Sign In</router-link>
        </template>
    </div>
</template>

<script>
export default {
    name: 'auth-menu',
    data: function () {
        return {
            isAuthorized: false
        }
    }
}
</script>


<style scoped lang="scss">
    @import '../assets/scss/variables';

    .auth-menu {
        margin-left: auto;
        margin-right: $spacer-5;

        &__link {
            color: $gray;
            margin-left: $spacer-4;

            &:hover {
                color: $primary;
            }
        }
    }
</style>