<template>
    <div class="branding">
        <router-link to="/">
            <img src="~@/assets/svg/logo-positive.svg" class="branding__image">
        </router-link>
    </div>
</template>

<style scoped lang="scss">
    @import '../assets/scss/variables';
    .branding {
        display: flex;
        align-items: center;
        &__image {
            vertical-align: middle;
            height: 20px;
        }
    }
</style>