<template>
    <div class="cart-menu">
        <div class="cart-quickview">
            <font-awesome-icon :icon="['fas', 'shopping-cart']" size="lg" class="cart-quickview__cart-icon" />
            <span class="cart-quickview__total">Empty</span>
            <font-awesome-icon :icon="['fas', 'chevron-down']" class="cart-quickview__cart-arrow" />
        </div>
    </div>
</template>

<style scoped lang="scss">
    @import '../assets/scss/variables';
    .cart-menu {
        height: 100%;
    }
    .cart-quickview {
        padding: 0 $spacer;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: $primary;
        &__total {
            margin: 0 $spacer;
        }
    }
</style>