<template>
    <div class="currency-menu">
        <form class="form form-flex">
            <div class="form__element-wrapper">
                <label for="currency" class="currency__label">Currency: </label>
                <select id="currency" class="currency__select form__element">
                    <option>GBP</option>
                </select>
            </div>
        </form>
    </div>
</template>

<style scoped lang="scss">
    @import '../assets/scss/variables';

    .form__element-wrapper,
    .currency__label {
        margin: 0;
    }

    .currency__select {
        background: none;
        border: none;
        color: #FFF;

        &:focus {
            background: none;
            box-shadow: none;
            color: $primary;
        }
    }
</style>