<template>
    <div class="customer-engage">
        <div class="review-engage">
            <div class="review-engage__current">
                <div class="review-engage__stars">
                    <font-awesome-icon :icon="['fas', 'star']" />
                    <font-awesome-icon :icon="['fas', 'star']" />
                    <font-awesome-icon :icon="['fas', 'star']" />
                    <font-awesome-icon :icon="['fas', 'star-half']" />
                </div>
                <button class="button button--link button--sm review-engage__total">3 Review(s)</button>
            </div>
            <button class="button button--link button--sm review-engage__add">Add a Review</button>
        </div>
        <div class="social-engage">
            <p class="social-engage__label">Share:</p>
            <a href="" class="social-engage__icon">
                <font-awesome-icon :icon="['fab', 'facebook-f']" />
            </a>
            <a href="" class="social-engage__icon">
                <font-awesome-icon :icon="['fab', 'twitter']" />
            </a>
            <a href="" class="social-engage__icon">
                <font-awesome-icon :icon="['fab', 'instagram']" />
            </a>
            <a href="" class="social-engage__icon">
                <font-awesome-icon :icon="['fab', 'pinterest']" />
            </a>
            <a href="" class="social-engage__icon">
                <font-awesome-icon :icon="['fas', 'envelope']" />
            </a>
        </div>
    </div>
</template>

<style scoped lang="scss">
    @import '../assets/scss/variables';

    .customer-engage {
        display: flex;
        align-items: center;
        margin-bottom: $spacer;
    }

    .review-engage {
        display: inherit;

        &__current {
            display: inherit;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                display: table;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                height: 20px;
                background-color: $gray;
            }
        }

        &__stars {
            display: flex;
        }

        &__add {
            margin-right: $spacer-2;
            position: relative;

            &::after {
                content: "";
                display: table;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                height: 20px;
                background-color: $gray;
            }
        }
    }

    .social-engage {
        display: inherit;
        align-items: center;

        &__label {
            margin-right: $spacer-2;
            margin-bottom: 0;
            color: $gray;
            font-size: map-get($font-sizes, 'small');
            font-weight: 600;
        }

        &__icon {
            margin: 0 $spacer-2;
            color: $gray;

            &:hover {
                color: $primary;
            }
        }
    }
</style>