<template>
  <div class="form__element-wrapper">
    <template v-if="type == 'email'">
      <label for="email" class="sr-only">{{ label }}</label>
      <input type="text" id="email" name="name" :placeholder="label" v-model.lazy="form.name"
        v-validate="'email'" class="form__element">
      <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
    </template>
  </div>
</template>

<script>
  export default {
    props: {
      type: {
        type: String,
        required: true,
      },
      label: {
        type: String,
        required: false,
      }
    },
  }
</script>