<template>
    <li class="list-block__item">
        <template v-if="this.type == 'link'" >
            <router-link :to="to" class="list-block__link">{{ text }}</router-link>
        </template>
        <template v-if="this.type == 'paragraph'" >
            <p class="list-block__paragraph">
                <slot/>
            </p>
        </template>
        <template v-if="this.type == 'address'" >
            <address class="list-block__address">
                <slot/>
            </address>            
        </template>
    </li>
</template>

<script>
export default {    
    props: {
      type: {
        type: String,
        required: true,
      },
      text: {
        type: String,
        required: false,
      },
      to: {
        type: String,
        required: false,
      }
    },
}
</script>

<style lang="scss">
    @import '../assets/scss/variables';
    .list-block {

        &__item {
            padding: 0;
            margin-bottom: $spacer;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            color: $gray;

            &:hover {
                color: $primary;
            }
        }

        &__address {
            color: $gray;
            margin-bottom: $spacer;
            font-style: normal;
        }

        &__paragraph {
            color: $gray;
            margin-bottom: $spacer;
            font-style: normal;
        }
    }
</style>
