<template>
    <div class="list-block">
        <h3 class="list-block__title">{{ title }}</h3>
        <ul class="list-block__unordered-list">
            <slot></slot>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'list-block',
        props: ['title'],
    }
</script>

<style lang="scss">
    @import '../assets/scss/variables';
    .list-block {
        &__title {
            margin-bottom: $spacer-4;
        }

        &__unordered-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
</style>