<template>
  <header class="page-banner">
    <div class="container">
      <h1 class="page-banner__title">{{ title }}</h1>
      <p class="page-banner__introduction">{{ introduction }}</p>
    </div>
  </header>
</template>

<script>
  export default {
    props: ['title', 'introduction']
  }
</script>

<style scoped lang="scss">
  @import '../assets/scss/variables';

  .page-banner {
    background-color: $gray;
    background-image: url('../assets/images/page-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: $spacer-5 * 2;
    color: white;

    &__introduction,
    &__title {
      color: inherit;
      text-transform: uppercase;
    }
    &__title {
      margin-bottom: $spacer-4;
    }
    &__introduction {
      font-size: map-get($font-sizes, 'xlarge' );
    }
  }
</style>