<template>
    <nav class="primary-navigation">
        <ul class="nav nav--level-1" :class="{ show: navigationVisibility }">
            <li class="nav__item nav__item--level-1">
                <router-link to="/products/men" class="nav__link nav__link--level-1">Mens</router-link>
                <div class="subnav">
                    <ul class="nav nav--level-2">
                        <li class="nav__item nav__item--level-2">
                            <router-link to="/products/men/casuals/jackets" class="nav__link nav__link--level-2">Casuals</router-link>
                            <ul class="nav nav--level-3">
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/casuals/jackets" class="nav__link nav__link--level-3">Jackets</router-link>
                                </li>
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/casuals/hoodies-sweatshirts" class="nav__link nav__link--level-3">Hoodies
                                        &amp; Sweatshirts</router-link>
                                </li>
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/casuals/polos" class="nav__link nav__link--level-3">Polo
                                        Shirts</router-link>
                                </li>
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/casuals/sports" class="nav__link nav__link--level-3">Sportswear</router-link>
                                </li>
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/casuals/trousers-chinos" class="nav__link nav__link--level-3">Trousers
                                        &amp; Chinos</router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item nav__item--level-2">
                            <router-link to="/products/men/jackets" class="nav__link nav__link--level-2">Formal</router-link>
                            <ul class="nav nav--level-3">
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/formal/jackets" class="nav__link nav__link--level-3">Jackets</router-link>
                                </li>
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/formal/shirts" class="nav__link nav__link--level-3">Shirts</router-link>
                                </li>
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/formal/suits" class="nav__link nav__link--level-3">Suits</router-link>
                                </li>
                                <li class="nav__item nav__item--level-3">
                                    <router-link to="/products/men/formal/trousers" class="nav__link nav__link--level-3">Trousers</router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="card card--dark nav__promo">
                        <div class="card__body card__body--promo">
                            <div class="card__promo">
                                <p class="card__title">
                                    Autumn sale!<br>
                                    Up to 50% off
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav__item nav__item--level-1">
                <router-link to="/products/women" class="nav__link nav__link--level-1">Womens</router-link>
            </li>
            <li class="nav__item nav__item--level-1">
                <router-link to="/brand" class="nav__link nav__link--level-1">The Brand</router-link>
            </li>
            <li class="nav__item nav__item--level-1">
                <router-link to="/stores" class="nav__link nav__link--level-1">Local Stores</router-link>
            </li>
            <li class="nav__item nav__item--level-1">
                <router-link to="/lookbook" class="nav__link nav__link--level-1">Lookbook</router-link>
            </li>
        </ul>
        <button @click="showNavigation" class="button button__link nav__toggle">&#9776;</button>
    </nav>
</template>

<script>
export default {
    name: 'primary-navigation',
    data: () => ({
        navigationVisibility: 0
    }),
    methods: {
        showNavigation () {
            if (this.navigationVisibility == 0) {
                this.navigationVisibility = 1
            } else {
                this.navigationVisibility = 0
            }
        }
    }
}
</script>


<style scoped lang="scss">
    @import '../assets/scss/variables';

    .primary-navigation {
        display: flex;
        align-items: center;
    }

    .nav {
        margin: 0;
        display: none;
        position: absolute;
        top: 145px;
        background-color: white;
        left: 0;
        right: 0;
        &__item {
            display: flex;
            align-items: center;
            padding: $spacer-2 $spacer;

            .subnav {
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                display: none;
                background-color: white;
                box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
            }

            &--level-1 {
                &:before,
                &:after {
                    position: absolute;
                    display: none;
                    content: "";
                    border: 6px solid transparent; // Size
                }

                &:before {
                    top: calc(50% + #{$spacer});
                    border-top-color: $gray; // Color
                }

                &:after {
                    top: calc(50% + #{$spacer} - 3px); // Thickness
                    border-top-color: #fff; // Match background colour
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            &--level-2 {
                padding: $spacer-4;
                flex-direction: column;
                align-items: flex-start;
            }

            &--level-3 {
                margin-bottom: 7.5px;
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__link {
            color: $dark;
            font-size: map-get($font-sizes, 'small');
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.05em;

            &.router-link-exact-active {
                color: $primary;
            }

            &--level-1 {
                padding-right: 0;
                padding-left: 0;
            }

            &--level-2 {
                margin-bottom: 15px;
            }

            &--level-3 {
                color: $gray;
                text-transform: none;
                font-weight: 300;
            }
        }

        &__promo {
            margin: 0 $spacer-4 $spacer-4 $spacer-4;
        }

        &--level-3 {
            flex-direction: column;
        }

        &.show {
            display: block;
        }
        @media (min-width: map-get($screen-sizes, 'large')) {
            display: flex;
            position: relative;
            top: unset;
            background-color: unset;
            left: unset;
            right: unset;       
            height: 100%;
            &__item {
                &:hover {
                    .subnav {
                        display: block;
                    }
                }
                &--level-1 {
                    &:before,
                    &:after {
                        display: block;
                    }
                }
            }
            &.show {
                display: flex;
            }
        }
        &__toggle {
            display: block;
            @media (min-width: map-get($screen-sizes, 'large')) {
                display: none;
            }
        }
    }
</style>