<template>
  <div class="grid__item" :class="gridClasses">
    <div class="product-thumbnail">
      <img src="../assets/images/men-t-shirt-longsleeved-runner-triangle-black.jpg" alt="" class="product-thumbnail__image">
      <p class="product-thumbnail__price">
        <span class="product-thumbnail__price--discount" v-if="originalPrice">&pound;{{ originalPrice }}</span>
        <span class="product-thumbnail__price--current">&pound;{{ currentPrice }}</span>
      </p>
      <div class="product-thumbnail__information">
        <p class="product-thumbnail__title">{{ title }}</p>
        <p class="product-thumbnail__short-description">{{ shortDescription }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {    
    props: {
      gridClasses: {
        type: String,
        required: false,
      },
      title: {
        type: String,
        required: true,
      },
      currentPrice: {
        type: Number,
        required: true,
      },
      originalPrice: {
        type: Number,
        required: false,
      },
      shortDescription: {
        type: String,
        required: false,
      },
    },
}
</script>

<style scoped lang="scss">
  @import '../assets/scss/variables';

  .product-thumbnail {
    background-color: $light;
    height: 100%;
    position: relative;
    &__image {
      display: block;
    }
    &__price {
      position: absolute;
      top: $spacer;
      left: $spacer;
      &--current {
        color: $gray;
      }
      &--discount {
        color: $gray;
        text-decoration: line-through;
      }
    }
    &__information {
      position: absolute;
      top: 100%;
      z-index: 9999;
      right: 0;
      left: 0;
      background-color: white;
      border-top: 1px solid lighten($gray, 20%);
      padding: $spacer;
      display: none;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    &__title {
      text-transform: uppercase;
      text-align: center;
      font-size: map-get($font-sizes, 'small');
      color: $gray;
      margin-bottom: $spacer;
    }
    &__short-description {
      margin: 0;
      text-align: center;
      color: $gray;
      margin-bottom: $spacer;
      font-weight: 300;
    }
    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      .product-thumbnail__information {
        display: block;
      }      
    }
  }
</style>