<template>
    <form @submit.prevent="submitRegisterForm" novalidate class="register-form form" v-if="!registerIsSubmitted">
        <div class="form__element-wrapper">
            <label for="registeremail" class="sr-only">Your email</label>
            <input type="text" id="registeremail" name="registeremail" placeholder="Your email" v-model.lazy="form.registerEmail"
                v-validate="'required|email'" class="form__element" v-bind:class="{ error: errors.has('registeremail') }">
            <span v-show="errors.has('registeremail')">{{ errors.first('registeremail') }}</span>
        </div>
        <div class="form__element-wrapper">
            <label for="registerpassword" class="sr-only">Password</label>
            <input type="password" id="registerpassword" name="registerpassword" placeholder="Password" v-model.lazy="form.registerPassword"
                v-validate="'required'" class="form__element">
            <span v-show="errors.has('registerpassword')">{{ errors.first('registerpassword') }}</span>
        </div>
        <div class="form__element-wrapper">
            <label for="registerconfirmpassword" class="sr-only">Confirm password</label>
            <input type="password" id="registerconfirmpassword" name="registerconfirmpassword" v-model.lazy="form.registerConfirmPassword"
                v-validate="'required'" placeholder="Confirm password" class="form__element" v-bind:class="{ error: errors.has('registerconfirmpassword') }">
            <span v-show="errors.has('registerconfirmpassword')">{{ errors.first('registerconfirmpassword') }}</span>
        </div>
        <div class="form__element-wrapper">
            <input type="checkbox" id="newsletter" name="newsletter" value="1">Sign up for exclusive updates,
            discounts, new arrivals, contests, and more!<br>
        </div>
        <div class="form__element-wrapper flex">
            <button type="submit" class="button button--outline-dark">Create account</button>
            <p class="privacy-policy">By clicking 'Create account', you agree to our <a href="#">Privacy policy.</a></p>
        </div>
    </form>
    <div v-else>
        Submitted
    </div>
</template>

<script>
    export default {
        name: 'register-form',
        data: function () {
            return {
                form: {
                    registerEmail: '',
                    registerPassword: '',
                    registerConfirmPassword: ''
                },
                registerIsSubmitted: false
            }
        },
        methods: {
            submitRegisterForm: function () {
                this.registerIsSubmitted = true;
                this.form = null;
            }
        }
    }
</script>

<style scoped lang="scss">
    .privacy-policy {
        max-width: 50%;
        text-align: right;
    }
</style>
