<template>
  <form @submit.prevent="submitSignInForm" novalidate class="sign-in-form form" v-if="!signInIsSubmitted">
    <div class="form__element-wrapper">
      <label for="signinemail" class="sr-only">Your email</label>
      <input type="text" id="signinemail" name="signinemail" placeholder="Your email" v-model.lazy="form.signInEmail" v-validate="'required|email'"
        class="form__element" v-bind:class="{ error: errors.has('signinemail') }">
      <span v-show="errors.has('signinemail')">{{ errors.first('signinemail') }}</span>
    </div>
    <div class="form__element-wrapper">
      <label for="signinpassword" class="sr-only">Password</label>
      <input type="password" id="signinpassword" name="signinpassword" placeholder="Password" v-model.lazy="form.signInPassword"
        v-validate="'required'" class="form__element">
      <span v-show="errors.has('signinpassword')">{{ errors.first('signinpassword') }}</span>
    </div>
    <div class="form__element-wrapper flex">
      <button type="submit" :disabled="errors.any()" class="button button--primary">Sign in</button>
      <router-link to="#">Forgot your password</router-link>
    </div>
  </form>
  <div v-else>
    Submitted
  </div>
</template>

<script>
  export default {
    name: 'sign-in-form',
    data: function () {
      return {
        form: {
          signInEmail: '',
          signInPassword: ''
        },
        signInIsSubmitted: false
      }
    },
    methods: {
      submitSignInForm: function () {
        this.signInIsSubmitted = true;
        this.form = null;
      }
    }
  }
</script>