<template>
    <footer class="site-footer">
        <div class="footer-primary">
            <div class="container">
                <div class="block grid">
                    <div class="grid__item grid__item--12 grid__item--medium-4 grid__item--xlarge-2">
                        <list-block title="Information">
                            <list-block-item type="link" text="The brand" to="/brand" />
                            <list-block-item type="link" text="Local stores" to="#" />
                            <list-block-item type="link" text="Customer service" to="#" />
                            <list-block-item type="link" text="Privacy &amp; cookies" to="#" />
                            <list-block-item type="link" text="Site map" to="#" />
                        </list-block>
                    </div>
                    <div class="grid__item grid__item--12 grid__item--medium-4 grid__item--xlarge-2">
                        <list-block title="Why buy from us">
                            <list-block-item type="link" text="Shipping &amp; returns" to="#" />
                            <list-block-item type="link" text="Secure shopping" to="#" />
                            <list-block-item type="link" text="Testimonials" to="#" />
                            <list-block-item type="link" text="Award winning" to="#" />
                            <list-block-item type="link" text="Ethical trade" to="#" />
                        </list-block>
                    </div>
                    <div class="grid__item grid__item--12 grid__item--medium-4 grid__item--xlarge-2">
                        <list-block title="Your account">
                            <list-block-item type="link" text="Sign in" to="#" />
                            <list-block-item type="link" text="Register" to="#" />
                            <list-block-item type="link" text="View cart" to="#" />
                            <list-block-item type="link" text="View your lookbook" to="#" />
                            <list-block-item type="link" text="Track an order" to="#" />
                            <list-block-item type="link" text="Update information" to="#" />
                        </list-block>
                    </div>
                    <div class="grid__item grid__item--12 grid__item--medium-4 grid__item--xlarge-2">
                        <list-block title="Lookbook">
                            <list-block-item type="link" text="Latest post" to="#" />
                            <list-block-item type="link" text="Men's lookbook" to="#" />
                            <list-block-item type="link" text="Women's lookbook" to="#" />
                            <list-block-item type="link" text="Lookbook RSS feed" to="#" />
                            <list-block-item type="link" text="View your lookbook" to="#" />
                            <list-block-item type="link" text="Delete your lookbook" to="#" />
                        </list-block>
                    </div>
                    <div class="grid__item grid__item--12 grid__item--medium-8 grid__item--xlarge-4">
                        <div class="list-block">
                            <h3 class="list-block__title">Contact details</h3>
                            <ul class="list-block__unordered-list">
                                <li class="list-block__item">
                                    <address class="list-block__address">Head Office: Avenue Fashion, <br>
                                        180-182 Regent Street, London.</address>
                                </li>
                                <li class="list-block__item">
                                    <address class="list-block__address">Telephone: 0123-456-789 </address>
                                </li>
                                <li class="list-block__item">
                                    <address class="list-block__address">Email: support@yourwebsite.com</address>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container grid">
                <div class="grid__item grid__item--6">
                    <div class="card card--dark">
                        <div class="card__promo">
                            <p class="card__title">
                                Award winner<br>
                                Fashion Awards 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--6">
                    <div class="card card--primary">
                        <div class="card__promo text-right">
                            <p class="card__title">
                                <a href="" class="social-icon">
                                    <font-awesome-icon :icon="['fab', 'facebook-f']" />
                                </a>
                                <a href="" class="social-icon">
                                    <font-awesome-icon :icon="['fab', 'twitter']" />
                                </a>
                                <a href="" class="social-icon">
                                    <font-awesome-icon :icon="['fab', 'instagram']" />
                                </a>
                                <a href="" class="social-icon">
                                    <font-awesome-icon :icon="['fab', 'pinterest']" />
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits">
            <div class="container flex flex--x-center">
                <span class="credits__copyright">&copy; 2016 Avenue Fashion&trade;</span>
                <span class="credits__design">Designed by RobbyDesigns.com</span>
                <span class="credits__development">Developed by Uffe Christiansen</span>
            </div>
        </div>
    </footer>
</template>

<script>
    import ListBlock from "@/components/ListBlock";
    import ListBlockItem from "@/components/ListBlockItem";
    export default {
        name: 'SiteFooter',
        components: {
            ListBlock,
            ListBlockItem
        }
    }
</script>


<style scoped lang="scss">
    @import '../assets/scss/variables';

    .site-footer {
        background-color: #f8f8f8;
    }

    .footer-primary {
        padding: $spacer-5 $spacer-4;
    }

    .credits {
        height: 45px;
        background-color: #333333;
        color: #999999;
        padding-left: $spacer-4;
        padding-right: $spacer-4;

        &__design {
            margin-left: auto;
        }
    }

    .block {
        margin-bottom: $spacer-5;
    }

    .social-icon {
        margin: 0 $spacer-2;
    }
</style>