<template>
    <header class="site-header">
        <div class="secondary-bar">
            <div class="container flex flex--x-center">
                <currency-menu/>
                <auth-menu/>
                <cart-menu/>
            </div>
        </div>
        <div class="primary-bar">
            <div class="container container--wide flex h-100">
                <branding/>
                <primary-navigation/>
            </div>
        </div>
    </header>
</template>

<script>
  import AuthMenu from "@/components/AuthMenu";
  import CartMenu from "@/components/CartMenu";
  import CurrencyMenu from "@/components/CurrencyMenu";
  import Branding from "@/components/Branding";
  import PrimaryNavigation from "@/components/PrimaryNavigation";
  export default {
    name: 'SiteHeader',
    components: {
      AuthMenu,
      CartMenu,
      CurrencyMenu,
      Branding,
      PrimaryNavigation
    }
  }
</script>

<style scoped lang="scss">
    @import '../assets/scss/variables';

    .site-header {
        background-color: white;
    }

    .primary-bar {
        height: 100px;
        z-index: 100;
    }

    .secondary-bar {
        height: 45px;
        background-color: #333333;
        color: white;
    }
</style>