<template>
  <nav class="tabs">
    <ul class="nav nav--tabs">
      <li class="nav__item" v-for="tab in tabs" :ref="tab.value" :key="tab.title">
        <button class="nav__link" type="button" :class="{ 'nav__link--active' : tab.value === currentTab }" @click="handleClick(tab.value)">
          {{ tab.title }}
        </button>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    name: 'tabs',
    props: {
      currentTab: {
        type: String,
        required: true,
      },
      tabs: {
        type: Array,
        required: true,
      }
    },
    watch: {
      currentTab(newCurrentTab) {
        if (this.newTab === newCurrentTab) return;
      },
    },
    data: () => ({
      newTab: '',
    }),
    methods: {
      handleClick(value) {
        this.$emit('onClick', value);
        this.newTab = value;
      }
    },
  };
</script>