<template>
  <div id="app">
    <site-header/>
    <div class="page">
      <router-view/>      
    </div>
    <site-footer/>
  </div>
</template>

<script>
import SiteHeader from "@/components/SiteHeader";
import SiteFooter from "@/components/SiteFooter";
export default {
  components : {
    SiteHeader,
    SiteFooter
  }
}
</script>


<style lang="scss">
@import 'assets/scss/globals';
</style>
